
body {
  padding-top: 20px;
}

.well {
	display: inline-block;
}

.nav-list a {
	color: #888;
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 8px;
}

.nav-list li:last-child a {
	margin-bottom: 0;
}